In [3]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import statsmodels as sm

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
with open('data_processed/data_dict.pickle', 'rb') as handle:
    data = pickle.load(handle)
data_keys = list(data.keys())

In [5]:
df = data[data_keys[9]]
df.head()

   spool  diameter  speed  motorV  extfrq  target    temp
0   0.00      35.7  80.72   23.70   18.71    33.1  80.036
1   0.01      35.3  81.04   24.49   19.24    33.1  80.174
2   0.03      35.6  78.00   26.18   20.28    33.1  80.139
3   0.05      32.7  66.48   28.99   21.94    33.1  80.139
4   0.06      33.8  57.60   32.93   24.32    33.1  80.174

In [7]:
columns = ['step', 'spool', 'diameter', 'speed', 'motorV', 'extfrq', 'target', 'greedy_m', 'greedy_e', 
           'reward', 'Q_exam', 'am_exam', 'a_exam', 'unk', 'temp']
df = pd.read_csv('data/2019_09_09_09_54.txt', header=0, names=columns)
df.reset_index(inplace=True, drop=True)
df = df.drop(['unk', 'Q_exam', 'am_exam', 'a_exam'], axis=1)
for col in df.columns:
    df[col] = df[col].str.split(':').apply(lambda x: x[1])
df = df.apply(pd.to_numeric)

In [8]:
df

,step,spool,diameter,speed,motorV,extfrq,target,greedy_m,greedy_e,reward,temp
0,8741,0.00,34.9,75.04,9.81,0.00,30.6,0.52,0.20,0.570,80.105
1,8742,0.01,32.5,74.88,8.94,0.00,30.6,0.86,0.27,0.810,80.105
2,8743,0.02,32.6,75.28,10.08,1.95,30.6,1.44,0.42,0.800,80.071
3,8744,0.02,31.9,75.28,5.55,2.62,30.6,2.15,0.61,0.871,79.933
4,8745,0.03,33.7,75.12,8.60,0.28,30.6,2.87,0.75,0.691,80.002
...,...,...,...,...,...,...,...,...,...,...,...
41656,50397,99.89,32.6,35.04,14.00,39.04,37.3,13.19,39.21,0.542,79.933
41657,50398,99.91,35.8,31.52,20.28,44.29,37.3,19.34,44.45,0.870,80.071
41658,50399,99.93,35.2,32.96,25.79,42.86,37.3,24.91,43.09,0.812,80.071
41659,50400,99.96,34.8,42.48,29.72,41.50,37.3,28.81,41.84,0.771,79.933
41660,50401,99.98,35.6,52.80,31.13,41.66,32.8,30.37,41.98,0.741,80.002